[
	'name'	=>	'generate-web-article',
	'count'	=>	2
],
[
	'name'	=>	'inject-web-content-article',
	'count'	=>	2
],
[
	'name'	=>	'cs-web-create',
	'count'	=>	2
],
[
	'name'	=>	'post-blog-web',
	'count'	=>	2
],
[
	'name'	=> 'external-video-downloader',
	'count'	=>	4
],
[
	'name'	=> 'external-audio-downloader',
	'count'	=>	4
],
[
	'name'	=> 'video-post-process',
	'count'	=>	4
],
[
	'name'	=> 'audio-post-process',
	'count'	=>	4
],
[
	'name'	=>	'default',
	'count'	=>	2
],
[
	'name'	=>	'monthly-cost-deduction',
	'count'	=>	2
],
[
	'name'	=>	'notify-low-credit',
	'count'	=>	2
],
[
	'name'	=>	'web-site-update',
	'count'	=>	2
],
[
	'name'	=>	'pbn-site-update',
	'count'	=>	3
],
[
	'name'	=>	'traffic-activity-update',
	'count'	=>	3
],
[
	'name'	=>	'traffic-maintenance',
	'count'	=>	3
],
[
	'name'	=>	'promotion-status',
	'count'	=>	1
],
[	
	'name'	=>	'generate-article',
	'count'	=>	2
],
[	
	'name'	=>	'inject-content-article',
	'count'	=>	2
],
[	
	'name'	=>	'post-blog-pbn',
	'count'	=>	2
],
[
	'name'	=>	'cs-pbn-create',
	'count'	=>	2
],
[
	'name'	=>	'cs-traffic-create',
	'count'	=>	2
],
[
	'name'	=>	'cs-immediate-browse',
	'count'	=>	2
],
[
	'name'	=>	'cs-campaign-activity',
	'count'	=>	2
],
[
	'name'	=>	'css-promotion-status',
	'count'	=>	2
],
[
	'name'	=>	'css-traffic-create',
	'count'	=>	2
],
[
	'name'	=>	'casper-start-stream-preview',
	'count'	=>	1
],
[
	'name'	=>	'casper-stop-stream-preview',
	'count'	=>	1
],
[
	'name'	=>	'generic-post-blog',
	'count'	=>	1
],
[
	'name'	=>	'casper-create-video-event',
	'count'	=>	1
],
[
	'name'	=>	'casper-delete-video-event',
	'count'	=>	1
],
[
	'name'	=>	'casper-validate-youtube-account',
	'count'	=>	4
],
[
	'name'	=>	'casper-validate-youtube-channel',
	'count'	=>	4
],
[
	'name'	=>	'casper-start-stream-preview',
	'count'	=>	5
],
[
	'name'	=>	'casper-stop-stream-preview',
	'count'	=>	5
],
[
	'name'	=>	'casper-start-stop-stream-preview',
	'count'	=>	5
],
[
	'name'	=>	'post-blog-web',
	'count'	=>	1
]